<div class="section">
  <h2>Hello, how about logging in?</h2>
</div>
  <%= form_tag '/login', method: :post do %>
    <div class="row">
      <div class="six columns">
        <%= label_tag 'Name' %>
        <%= text_field_tag :name, nil, class: "u-full-width" %>
      </div>
      <div class="six columns">
        <%= label_tag 'Password' %>
        <%= password_field_tag :password, nil, class: "u-full-width" %>
      </div>
    </div>
    <%= submit_tag "Log In" %>
  <% end %>
<h3>Or <%= link_to 'Log in with Github', '/auth/github' %></h3>
